    <!--Main Body-->
    
    <div class="container-fluid bg-secondary py-2 position-relative fs-2" id="body" style="height: 100vh;">
        <h1 class="bg-secondary text-center text-light"><%- name %></h1>
        <% if (auth) {%>
        <!-- Find random game -->
        <div class="row mt-3 position-absolute start-50 top-10 translate-middle-x">
            <script src="https://hoppius.work/queueFormScript.js"></script>
            <button class="btn btn-dark fs-2" id="queuebutton" onclick="queue()">Find random Game!</button>
        </div>
        <!-- Challenge player name -->
        <form id="challengeForm" onsubmit="return false" novalidate>
            <script src="https://hoppius.work/challengeFormScript.js"></script>
            <div class="row position-absolute top-50 translate-middle-y w-100 fs-2">
              <div class="col-lg-1 col-md-0 col-sm-0"></div>
              <div class="mb-3 col-lg-9 col-md-10 col-sm-12">
                <label for="challengename" class="form-label position-relative start-50 translate-middle-x">Challenge:</label>
                <input type="name" class="form-control fs-2" id="challengename" aria-describedby="challengenameHelp">
                <div id="challengenameHelp" class="form-text">Names are case-sensitive.</div>
              </div>
              <div class="mb-3 col-lg-2 col-md-2 col-sm 12">
                <button type="submit" class="btn btn-dark position-relative top-50 start-50 translate-middle fs-2">Challenge</button>
              </div>
            </div>
          </form>
        <% } %>
        <div class="row">
          <br>
          Player Statistics: <br>
          Games played: <%- games_played %> <br>
          Games won: <%- games_won %> <br>
          Last login: <%- last_login.toLocaleDateString() %> <%- last_login.toLocaleTimeString() %> <br>
        </div>
        <div id="challengeDisplay">

        </div>
    </div>
